<section class="slider" id="slider">
    <uib-carousel active="active" interval="myInterval">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" >
            <div class="carousel-inner" role="listbox">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h1 class="animated rotateInUpRight">{{slide.title}}</h1>
                    <p class="animated bounceInDown">{{slide.detail}}</p>
                    <a class="animated tada" href="{{slide.read}}">read more</a>
                </div>
            </div>
        </uib-slide>
        
    </uib-carousel>
        
</section>
<!-- slider ends -->
<!-- appointment section -->
<section class="appointment text-center" id="appointment">
    <div class="container">
        <div class="row">
            <h2>make an appointment</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nobis rerum iure nostrum dolor. Quo totam possimus ex sapiente rerum.</p>
            <div class="col-md-6">
                <img src="app/images/appointment.jpg" alt="#" class="img-responsive" title="Appointment with our great Doctors">
            </div>
            <div class="col-md-6">
                <uib-tabset>
                    <uib-tab index="0" heading="Appointment">
                        <form class="form-horizontal" name="appointmentForm" novalidate>
                            <!-- first name -->
                            <div class="form-group" ng-class="{ 'has-error' : appointmentForm.name.$error.required && !appointmentForm.name.$pristine }">
                                <label class="control-label col-sm-3" for="name">Your Name:</label>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <input name="name" type="text" placeholder="Enter Your Name" class="form-control" ng-model="patData.name" required>
                                    <span ng-show="appointmentForm.name.$error.required && !appointmentForm.name.$pristine" class="help-block">Your Name is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="doctor">Select Doctor:</label>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <select name="doctor" class="form-control" ng-model="patData.doctor">
                                        <option ng-repeat="doctor in doctors" value="doctor.name" selected>{{doctor.name}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <!-- email address -->
                            <div class="form-group" ng-class="{ 'has-error' : (appointmentForm.email.$invalid || appointmentForm.email.$error.required) && !appointmentForm.email.$pristine }">
                                <label class="control-label col-sm-3" for="email">Your Email:</label>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <input name="email" type="email" placeholder="Enter Your Email" class="form-control" ng-model="patData.email" required>
                                    <span ng-show="(appointmentForm.email.$invalid ||
                                        appointmentForm.email.$error.required) &&
                                        !appointmentForm.email.$pristine"
                                          class="help-block">Enter a valid email address.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : (appointmentForm.phone.$error.pattern || appointmentForm.phone.$error.required) && !appointmentForm.phone.$pristine }">
                                <label class="control-label col-sm-3" for="phone">Your Phone:</label>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <input name="phone" type="text" placeholder="+923244013397" class="form-control" ng-model="patData.phone" ng-pattern="phoneRegex" required>
                                    <span ng-show="(appointmentForm.phone.$error.pattern ||
                                        appointmentForm.phone.$error.required) &&
                                        !appointmentForm.phone.$pristine"
                                          class="help-block">Enter a valid phone no.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="phone">Your Age:</label>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <input name="age" type="number" placeholder="Age" min="1" class="form-control" ng-model="patData.age" required>
                                    <span ng-show="invalidInputSelection" class="help-block">Enter your age.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : appointmentForm.address.$error.required && !appointmentForm.address.$pristine }">
                                <label class="control-label col-sm-3" for="phone">Your Address:</label>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <input name="address" type="text" placeholder="Address" class="form-control" ng-model="patData.address" required>
                                    <span ng-show="appointmentForm.address.$error.required && !appointmentForm.address.$pristine" class="help-block">Your Address is required.</span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="phone">Your Gender:</label>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <select name="gender" class="form-control" ng-model="patData.gend">
                                        <option ng-repeat="gen in Gender" value="gen">{{gen}}</option>
                                    </select>
                                    <span ng-show="invalidInputSelection" class="help-block">Select Your Gender.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="phone">Appointment Date:</label>
                                <div class="col-sm-6">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup placeholder="YYYY-MM-DD" ng-model="patData.date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                    <span ng-show="invalidInputSelection" class="help-block">Select appointment Date.</span>
                                </div>
                            </div>
                            <div class="col-sm-10" style="margin-top:-20px;float:right">
                                <input type="submit" value="submit" ng-disabled="appointmentForm.$invalid" class="form-control">
                            </div>
                        </form>
                    </uib-tab>
                    <uib-tab index="1" heading="History">
                        <form class="form-horizontal">
                            <div class="col-md-6 col-sm-6">
                                <input name="phone" type="text" placeholder="Mobile Number" class="form-control" ng-model="phoneHist" required>
                                <input type="submit" value="submit" class="form-control">
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</section>
<!-- appointment seciton ends -->
<!-- our services -->

    <section class="services" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    
                    <h2>Our services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque suscipit aliquam, pariatur vitae iste quisquam, assumenda. </p>
                    <div class="row">
                        <div class="col-md-12 single-services">
                            <!-- service 1 -->
                            <div ng-repeat="service in services" ng-init="backImage = service.image;hover=false" ng-mouseover="backImage=service.replaceImage;hover=true" ng-mouseleave="backImage=service.image;hover=false" class="col-md-6 col-sm-6">
                                <div class="single-service service-1" ng-class="{changeColor : hover}">
                                    <span ng-style="{'background-image':'url('+ backImage +')'}"></span>
                                    <h3>{{service.title}}</h3>
                                    <p>{{service.detail}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 service-tb">

                    <img src="app/images/service.jpg" alt="medihere Services" class="img-responsive" title="Our Services Images">
                    <h3>why choose us</h3>
                        <uib-accordion close-others="true" ng-init="isFirstOpen=false;isSecondOpen=false;isThirdOpen=false">
                            <uib-accordion-group is-open="isFirstOpen">
                                    <uib-accordion-heading>
                                        <div class="faq-heading">
                                            Well Experienced Doctors <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': isFirstOpen, 'glyphicon-plus': !isFirstOpen}"></i>
                                        </div>
                                    </uib-accordion-heading>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                            </uib-accordion-group>
                            <uib-accordion-group is-open="isSecondOpen">
                                <uib-accordion-heading>
                                    <div class="faq-heading">
                                        Feel Like you are at Home Services <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': isSecondOpen, 'glyphicon-plus': !isSecondOpen}"></i>
                                    </div>
                                </uib-accordion-heading>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim  
                            </uib-accordion-group>
                        
                            <uib-accordion-group is-open="isThirdOpen">  
                                <uib-accordion-heading>
                                    <div class="faq-heading">
                                        Online Bill Payment <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': isThirdOpen, 'glyphicon-plus': !isThirdOpen}"></i>
                                    </div>
                                </uib-accordion-heading>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim  
                            </uib-accordion-group>      
                        </uib-accordion>
                </div>
            </div>
        </div>
    </section>
    <!-- service section ends -->
    <!-- team section -->
    <section class="team" id="team" ng-show="status">
        <div class="container">
            <div class="row">
                <div class="team-heading text-center">
                    <h2>Meet our amazing team members</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, praesentium fugiat, laborum neque ex nemo nisi nesciunt quae eum quod.</p>
                </div>

                <div id="team-slide">
                    <owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, items : 1}">
                        <div owl-carousel-item="" ng-repeat="doctor in ::doctors">
                            <div class="col-md-5">
                                <img ng-src="{{doctor.image}}" alt="medihere team member" class="img-responsive" style="width:1200px;height:400px">
                            </div>
                            <div class="col-md-7 detail-content">
                                <h3>{{doctor.name}}</h3>
                                <ul>
                                    <li> <span><strong>Speciality : </strong>{{doctor.speciality}}</span> </li>
                                    <li> <span><strong>Degrees : </strong> {{doctor.education}}</span></li>
                                    <li> <span><strong>Experience : </strong>{{doctor.experience}}</span></li>
                                    <li> <span><strong>Training : </strong>{{doctor.training}}</span></li>
                                </ul>
                                <div class="member-socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </owl-carousel>
                </div>

            </div>
        </div>
    </section>
    <!-- team section ends -->
    <!-- about section -->
<section class="home-about text-center">
    <div class="aboverlay"></div>
    <div class="container">
        <div class="row">
            <div class="about-heading">
                <h2>See what Patients saying about us</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptas a, illum rerum asperiores. Illum.</span>
            </div>
            <div id="about-content">
                <owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, items : 1}">
                    <div owl-carousel-item="" ng-repeat="review in ::reviews">
                        <img ng-src="{{review.image}}" alt="The Last of us">
                        <p>{{review.message}}</p>
                        <h3>{{review.name}} <span>( {{review.designation}} )</span></h3>
                    </div>
                </owl-carousel>
            </div>
        </div>
    </div>
</section>
